@using BsmWebApp.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>מערכת בנק שעות</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryUi")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendo")

    @Styles.Render("~/Content/kendo/css")
     @Styles.Render("~/Content/css")
   
    <script src="@Url.Content("~/Scripts/jquery.mask.js")" type="text/javascript"></script>
@*    <script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @* <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>*@
   <script>

       function AlertMessage(msg, height, width) {
     $('.ui-dialog').css("clear", "both");
     $("#dialog-message").html(msg);
     $("#dialog-message").dialog({
         resizable: false,
         modal: true,
         title: "הודעה",
         height: height,
         width: width,
         focus: function (event, ui) { document.activeElement.blur(); },
         buttons: {
         "אישור": function () {
             $(this).dialog("close");
             
         }
     }
     });

 }</script>

</head>

<body dir="rtl">
    @{
        LayoutViewModel MenuModel = ViewBag.LayoutViewModel;
    }
    <div class="col-md-4" style="padding-right:10px;padding-top:10px;">
      <div id="logo"> </div>
      <div id="GeneralTitle">מערכת ניהול שעות עבודה משק</div>
    </div>
    
     <div id="divProgress" class="Progress"  style="text-align:right;position:absolute;left:52%;top:35%; z-index:1000;display:none" >
          <img src="~/Content/Images/progress.gif" style="width: 100px; height: 100px" />
     </div>   
@* // @if (MenuModel != null)
 // {     
    *@<div >
         @if (MenuModel.Yechidot.Count() == 1)
          {
             <span class="col-md-7 text-left name"> שם מוסך: @MenuModel.MitkanName.TeurYechida |</span>
          }
          else
          {
             <span class="col-md-7 text-left name">@Html.DropDownListFor(m =>  @MenuModel.MitkanName.KodYechida, @MenuModel.Yechidot , new { onchange = "ChangeCurrentMitkan(this.options[this.selectedIndex].value);", @class = "ddlMitkan" })  | </span>@* @*//new { @onchange = "EnableButton();", @class = "ddl" }*@
                                                
               @*<span class="col-md-7 text-left name">@MenuModel.MitkanName.KodYechida  @Html.DropDownListFor(m =>  @MenuModel.MitkanName.KodYechida, @MenuModel.Yechidot, new { autopostback = "false" , onchange = "document.location.href = '/Budget/Index?mitkan=' + this.options[this.selectedIndex].value;", @class = "ddlMitkan" })  | </span>*@ @*//new { @onchange = "EnableButton();", @class = "ddl" }*@
          }
          
         <span class="col-md-1 text-left name"> @MenuModel.Username </span>
          
        
    </div>
    <div class="bgGray">
          <div id="HeaderGray">
             <div class="col-md-5">
                     <ul class="nav navbar-nav menu">
                            @if (MenuModel != null)
                            {
                                foreach (var menu in MenuModel.Menus)
                                { 
                                    <li class="liBarMenue @menu.TabClassName">
                                       <div id="@menu.ImagSrc"> </div>
                                       <div class="MenuTitle"> @Html.ActionLink(menu.LinkText, menu.ActionName, menu.ControllerName, new object { }, new { @class = "headerLink" })</div>
                                    </li>
                                }
                            }
              
                        </ul>
               </div>
               <div class="col-md-7">
                   <div align="left" style="padding-top: 14px;">
                        <label class="GeneralText" >חישוב אחרון של התקציב: </label>
                       <label class="GeneralText" >@MenuModel.LastDateCalc</label>
                   </div>
               </div>
            </div>
    </div>
   @*   // }*@
         <div>
             <div name="dialogP" id="dialog-message"></div>
             <div name="dialogS" id="dialog-session"></div>
              <label hidden id="LblSessionTime"> @Session.Timeout</label>
              <label hidden id="LblSessionTimeWarnning"> @System.Configuration.ConfigurationManager.AppSettings["SessionWarning"]</label>
             
          @*    <label class="TimeWarninigSession" style="margin-right:20px;margin-bottom:0px">  @Html.DisplayNameFor(model => model.MitkanBudgetDetail.BudgetVal):</label>*@
                @RenderBody()
               
              @*  <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
            </div>   

    @RenderSection("scripts", required: false)
 
    <script type="text/javascript">

       
       // $(document).ready(function () {
       //  //   $(".ddlMitkan option").css("background", "white");
       //  //   $(".ddlMitkan option").css("color", "black");
       //});

        function ChangeCurrentMitkan(id) {
            
            jQuery.ajax({
                url: "/Home/ChangeMitkan?mitkan=" + id,
                type: 'POST',
                contentType: 'application/json'/*,
                //  data: JSON.stringify({ data: data2 }),
                success: function (result) {
                    if (result.message == "Session Time out") {
                        window.location.href = "/Home/Session_End";
                    }
                }*/
            });

            //var url = "/Budget/ChangeMitkan?mitkan=" + id;
           
            //$.get(url, function (data) {
            //    alert(url);
            //    // do something if necessary
            //});
        }

        function showProgress() {
            $("#divProgress").show();
        }

        function hideProgress() {
            $("#divProgress").hide();
        }

        function AlertMessagePosition(x, y, title, msg, height, width) {
        
            $("#dialog-message").html(msg);
            $("#dialog-message").dialog({
                resizable: false,
                modal: true,
                title: title,
                height: height,
                width:width,
               // position: { my: 'top', at: 'top+700' },
              //  position: [ x+'px', y+'px' ],
             //   position: [30, 100],
               // position: ["left", 1000],

                // position: { my: position.top, at: position.left },
                focus: function (event, ui) { document.activeElement.blur(); },
                buttons: {
                "אישור": function () {
                    $(this).dialog("close");
             
                }
            }
            });
            
            $("#dialog-message").parent().css('top', y);// "'"+ (y + 20) +"px'");
            $("#dialog-message").parent().css('left',x);// "'"+x+"px'");

         //   $("#dialog-message").parent().css({ top: 200, left: 200 });
        }
        
        /**************************************************************************************************************************************************/
       
        var sessionTimeoutWarning = $("#LblSessionTimeWarnning")[0].innerText;
        var sessionTimeout = $("#LblSessionTime")[0].innerText;
        var timeOnPageLoad = new Date();
        var sessionWarningTimer = null;
        var redirectToWelcomePageTimer = null;
        //For warning
        var sessionWarningTimer = setTimeout('SessionWarning()', 
				parseInt(sessionTimeoutWarning) * 60 * 1000);
        //To redirect to the welcome page
        var redirectToWelcomePageTimer = setTimeout('RedirectToWelcomePage()',
					parseInt(sessionTimeout) * 60 * 1000);

        //Session Warning
        function SessionWarning() {
            //minutes left for expiry
            var minutesForExpiry =  (parseInt(sessionTimeout) - 
					parseInt(sessionTimeoutWarning));
            var message = "זמן ההתחברות עומד להסתיים בעוד  " + 
		minutesForExpiry + " דקות. ברצונך לחדש את זמן ההתחברות?";

            //Confirm the user if he wants to extend the session

    //        $("#dialog-message").dialog("close");

            $("#dialog-session").html(message);
            $("#dialog-session").dialog({
                resizable: false,
                modal: true,
                title: "הודעה",
              //  height: height,
                width: 400, 
                focus: function (event, ui) { document.activeElement.blur(); },
                buttons: {
                    "אישור": function () {
                        $(this).dialog("close");
                        jQuery.ajax({
                            url: '/Budget/RecommenceSession',
                            type: 'POST',
                            contentType: 'application/json'//,
                            //   success: function (result) {
                            //    if (result.message == "Session Time out") {
                            //         window.location.href = "/Home/Session_End";
                            //     }
                            //   }
                        });
                        //Clear the RedirectToWelcomePage method
                        if (redirectToWelcomePageTimer != null) {
                            clearTimeout(redirectToWelcomePageTimer);
                        }
                        //reset the time on page load
                        timeOnPageLoad = new Date();
                        sessionWarningTimer = setTimeout('SessionWarning()',
                                parseInt(sessionTimeoutWarning) * 60 * 1000);
                        //To redirect to the welcome page
                        redirectToWelcomePageTimer = setTimeout
                                ('RedirectToWelcomePage()', parseInt(sessionTimeout) * 60 * 1000);
                    },
                    "לדף הבית": function () {
                        $(this).dialog("close");
                        window.location.href = "/Home/Session_End";
                    }
                }

            });

            //var answer = confirm(message);

            ////if yes, extend the session.
            //if(answer)
            //{
            //   // var img = new Image(1, 1);
            //   // img.src = 'KeepAlive.cshtml?date=' + escape(new Date());
            //    jQuery.ajax({
            //        url: '/Budget/RecommenceSession',
            //        type: 'POST',
            //        contentType: 'application/json'//,
            //     //   success: function (result) {
            //        //    if (result.message == "Session Time out") {
            //       //         window.location.href = "/Home/Session_End";
            //       //     }
            //     //   }
            //    });
            //    //Clear the RedirectToWelcomePage method
            //    if (redirectToWelcomePageTimer != null) {
            //        clearTimeout(redirectToWelcomePageTimer);
            //    }
            //    //reset the time on page load
            //    timeOnPageLoad =  new Date();
            //    sessionWarningTimer = setTimeout('SessionWarning()', 
			//	        parseInt(sessionTimeoutWarning) * 60 * 1000);
            //    //To redirect to the welcome page
            //    redirectToWelcomePageTimer = setTimeout
		    //            ('RedirectToWelcomePage()',parseInt(sessionTimeout) * 60 * 1000);
            //}

            //*************************
            //Even after clicking ok(extending session) or cancel button, 
            //if the session time is over. Then exit the session.
            var currentTime = new Date();
            //time for expiry
            var timeForExpiry = timeOnPageLoad.setMinutes(timeOnPageLoad.getMinutes() + 
				parseInt(sessionTimeout)); 

            //Current time is greater than the expiry time
            if(Date.parse(currentTime) > timeForExpiry)
            {
               
                AlertMessage("זמן התחברות הסתיים,תועבר לדף הבית", 170, 400);
                window.location.href = "/Home/Session_End";
             //   window.location = "../Welcome.aspx";
            }
            //**************************
        }

        //Session timeout
        function RedirectToWelcomePage() {
            AlertMessage("זמן התחברות הסתיים,תועבר לדף הבית", 170, 400);
           window.location.href = "/Home/Session_End";
          //  window.location = "../Welcome.aspx";
        }

        </script>
</body>

   
</html>
