@using BsmWebApp.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryUi")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendo")

    @Styles.Render("~/Content/kendo/css")
     @Styles.Render("~/Content/css")
   
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


</head>

<body dir="rtl">
    @{
        LayoutViewModel MenuModel = ViewBag.LayoutViewModel;
    }
    <div class="col-md-4" style="padding-right:10px;padding-top:10px;">
      <div id="logo"> </div>
      <div id="GeneralTitle">מערכת ניהול שעות עבודה משק</div>
    </div>

    <div >
         @if (MenuModel.Yechidot.Count() == 1)
          {
             <span class="col-md-7 text-left name"> שם מוסך: @MenuModel.MitkanName.TeurYechida |</span>
          }
          else
          {
             <span class="col-md-7 text-left name">@Html.DropDownListFor(m =>  @MenuModel.MitkanName.KodYechida, @MenuModel.Yechidot , new { onchange = "ChangeCurrentMitkan(this.options[this.selectedIndex].value);", @class = "ddlMitkan" })  | </span>@* @*//new { @onchange = "EnableButton();", @class = "ddl" }*@
               @*<span class="col-md-7 text-left name">@MenuModel.MitkanName.KodYechida  @Html.DropDownListFor(m =>  @MenuModel.MitkanName.KodYechida, @MenuModel.Yechidot, new { autopostback = "false" , onchange = "document.location.href = '/Budget/Index?mitkan=' + this.options[this.selectedIndex].value;", @class = "ddlMitkan" })  | </span>*@ @*//new { @onchange = "EnableButton();", @class = "ddl" }*@
          }
          
         <span class="col-md-1 text-left name"> @MenuModel.Username </span>
          
        
    </div>
    <div class="bgGray">
          <div id="HeaderGray">
             <div class="col-md-5">
                     <ul class="nav navbar-nav menu">
                            @if (MenuModel != null)
                            {
                                foreach (var menu in MenuModel.Menus)
                                { 
                                    <li class="liBarMenue @menu.TabClassName">
                                       <div id="@menu.ImagSrc"> </div>
                                       <div class="MenuTitle"> @Html.ActionLink(menu.LinkText, menu.ActionName, menu.ControllerName, new object { }, new { @class = "headerLink" })</div>
                                    </li>
                                }
                            }
              
                        </ul>
               </div>
               <div class="col-md-7">
                   <div align="left" style="padding-top: 14px;">
                        <label class="GeneralText" >חישוב אחרון של התקציב: </label>
                       <label class="GeneralText" >@MenuModel.LastDateCalc</label>
                   </div>
               </div>
            </div>
    </div>
         <div>
             <div id="dialog-message"></div>
                @RenderBody()
               
              @*  <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
            </div>   


  
         
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

       
       // $(document).ready(function () {
       //  //   $(".ddlMitkan option").css("background", "white");
       //  //   $(".ddlMitkan option").css("color", "black");
       //});

        function ChangeCurrentMitkan(id) {
            var url = "/Budget/ChangeMitkan?mitkan=" + id;
            $.get(url, function (data) {
                // do something if necessary
            });
        }

        function AlertMessagePosition(x,y,title,msg, height, width) {

           // $("#dialog-message").dialog({ position: [ "70px", "20px"] });

            $("#dialog-message").html(msg);
            $("#dialog-message").dialog({
                resizable: false,
                modal: true,
                title: title,
                height: height,
               // position: [30, 100],
               // position: ["left", 1000],

                // position: { my: position.top, at: position.left },
                focus: function (event, ui) { document.activeElement.blur(); }
            });
            $('.ui-dialog').css("top", (y + 20) + "px");
            //$('.ui-dialog').css("left", x + "px");
          //  $('.ui-dialog').css("top", (y+20) + "px");
          //  $('.ui-dialog').css("left", x + "px");
        }

        function AlertMessage(msg, height, width) {
            $('.ui-dialog').css("clear",  "both"); 
            $("#dialog-message").html(msg);
            $("#dialog-message").dialog({    
                resizable: false,
                modal: true,
                title: "הודעה",
                height: height,
                focus: function( event, ui ) {document.activeElement.blur();}  
            });

        }
        </script>
</body>

   
</html>
