@model BsmWebApp.ViewModels.Budgets.BudgetChangesVM

<style>

     .linkstyle {
        width: 100px;
        outline: none;
        border:none;
        background-color:white;
        text-decoration: underline;
        text-align:left;
        padding-left:5px;
    }
    .linkstyleDisabled {
        color: lightgray;
    }

</style>

 @using(Html.BeginForm())
 {
     
  <div class="row" style="padding-top: 18px">
        <div class="col-md-3">
        <label class="TextBold"> תקציב לפי תקן: </label>
    </div>
    <div class="col-md-2">
        <label class="TextBold"> יתרת תקציב <br />חודש קודם: </label>
    </div>
       <div class="col-md-2">
        <label class="TextBold"> ניוד: </label>
    </div>
     <div class="col-md-2">
        <label class="TextBold"> הוספה/גריעה: </label>
    </div>
       <div class="col-md-3">
        <label class="TextBold"> הסטוריה: </label>
    </div>
     @* <div class="col-md-2">
         <label class="TextBold"> שינוי אחרון: </label><br />
          <label class="TextBold" style=" font-weight: 400;font-size: 14px;">נכון לתאריך 
            @if (Model.BudgetChanges.Count > 0)
            {  
              
                @Html.DisplayFor(model => model.BudgetChanges[(Model.BudgetChanges.Count-1)].BudgetChange.TaarichIdkun.ToString().Split(' ')[0])   
            }
          </label>
    </div>*@
  </div>

<div class="row" style="padding-top: 18px">
    <div class="col-md-3">
         <input   type="text"  disabled  class="TextBoxRO GeneralText" value="@Model.Budget.BudgetLefiTeken" style="width: 130px;padding-right:7px;border:none;  margin-left: -35px; background-color:white" /> 
         <input id="btnAlert" class="alertImg pointer" onfocus="this.blur();" onclick="this.blur(); ShowInfo();"   style="position: relative;background-color:white" type="text" /> 
      
      @*    <label  class="alertImg pointer TextBoxRO GeneralText"  style="width: 100px;border:none;background-color:white">
           
          @Html.DisplayFor(model => model.Budget.BudgetLefiTeken)
          </label> *@
    </div>
      <div class="col-md-2">
          <label  id="txtMichsa" class="TextBoxRO GeneralText"  style="width: 100px;border:none;background-color:white">
               @Html.DisplayFor(model => model.YitraPrevMonth)
          </label> 
    </div>
     <div class="col-md-2">
          <label  class="TextBoxRO GeneralText"  style="width: 100px;border:none;background-color:white;direction:ltr;text-align:right">
               @Html.DisplayFor(model => model.SachNiyud)
          </label> 
    </div>
     <div class="col-md-2">
          <label  class="TextBoxRO GeneralText"  style="width: 100px;border:none;background-color:white;direction:ltr;text-align:right">
               @Html.DisplayFor(model => model.SumChanges)
          </label> 
    </div>
  <div class="col-md-3">
        @*  <label  class="TextBoxRO GeneralText"  style="width: 70px;border:none;background-color:white;margin-left:-5px;float:right">
            @if (Model.BudgetChanges.Count > 0)
            {  
                 @Html.DisplayFor(model => model.BudgetChanges[(Model.BudgetChanges.Count-1)].BudgetChange.ValToDisplay)
            }
          </label> *@
         @if (Model.BudgetChanges.Count > 0)
         {  
          <input class="pointer TextBoxRO linkstyle" onclick="ShowChanges();" value="הצג שינויים"  type="text" />
         } 
         else
         {
           <input class="TextBoxRO linkstyle linkstyleDisabled" disabled value="הצג שינויים"  type="text" />
         } 
    </div>
  </div>
     
      <div id="Dialog-Info">
           @{
           <div class="row" >
             <div class="col-md-6">
                  <label  class="GeneralText" > מכסה בסיסית:</label> 
             </div>
                <label   class="GeneralText" >   @Html.DisplayFor(model => model.Budget.MichsaBasic) </label> 
           </div>
          <div class="row" >
             <div class="col-md-6">
                  <label  class="GeneralText"   > גיל:</label> 
             </div>
              <label  class="GeneralText" >  @Html.DisplayFor(model => model.Budget.Age) </label> 
           </div>
           <div class="row" >
             <div class="col-md-6">
                  <label  class="GeneralText"   > הלבשה:</label> 
             </div>
               <label  class="GeneralText" >  @Html.DisplayFor(model => model.Budget.Halbasha) </label> 
           </div>
           <div class="row" >
             <div class="col-md-6">
                  <label  class="GeneralText"   > איזון מצבת:</label> 
             </div>
                     <label id="lblIzun" class="GeneralText" style="direction:ltr" >  @Html.DisplayFor(model => model.Budget.IzunMatzevet) </label> 
           </div>
           }
    </div>
     
     <div id="Dialog-Box">
          <div class="t-rtl">
            @{
         //<a class="analyticsDetailsInfo" href="/Admin/ModifyExamAnalytic?examTypeId=225&analyticId=Core&addAnalytic=False">ערוך אנליטיקה</a>
         Html.Kendo().Grid(Model.BudgetChanges)
            .Name("BudgetChangesList").Columns(columns =>
            {
                columns.Bound(o => o.BudgetChange.TaarichIdkun).Title("<center><strong>תאריך</strong></center>").Format("{0:dd/MM/yyyy}").Width(50);
                columns.Bound(o => o.BudgetChange.MeadkenName).Title("<center><strong>מעדכן</strong></center>").Width(50);
                columns.Bound(o => o.BudgetChange.ValToDisplay).Title("<center><strong>הפחתה/הוספה</strong></center>").Width(50);//.HtmlAttributes(new { style = " direction:ltr;" });
                columns.Bound(o => o.BudgetChange.Reason).Title("<center><strong>הנמקה</strong></center>").Width(50);


            })
            .Render();
            }
        </div>
    </div>
 }
  

<script>
    $(document).load(function () {
        
        alert($("#lblIzun").val());
    });

    function ShowChanges() {
         $('#Dialog-Box').dialog('open');     
    }

    $('#Dialog-Box').dialog({
        autoOpen: false,        
        width: 700,
        modal: false,
        buttons: {
            "סגור": function () {
                $(this).dialog("close");
            }
        }
    });

    function ShowInfo() {
        $('#Dialog-Info').dialog('open');
    }
    $('#Dialog-Info').dialog({
        autoOpen: false,
        title: "שעות נוספות תקציב",
        width: 300,
        modal: false,
        buttons: {
            "סגור": function () {
                $(this).dialog("close");
            }
        }
    });
</script>
