@model BsmWebApp.ViewModels.Budgets.BudgetMainViewModel

  <script>
      var valid;
      $(document).ready(function () {
          $("#MitkanName").kendoAutoComplete({
              // placeholder: "Enter site ...",
              // dataTextField: "SiteName",
              dataTextField: "TeurYechida",
              dataValueField: "KodYechida",
              filter: "startswith",
              minLength: 1,
              change: function (e) {
                  var autocomplete = $("#MitkanName").data("kendoAutoComplete");
                  var dataItem = autocomplete.dataSource.data();
                  var selectedVal = autocomplete.value();
                  var isExist = false;
                  $.each(dataItem, function (key, value) {
                      if (selectedVal === value.TeurYechida) {
                          isExist = true;
                      }
                  });
                  if (isExist == false) {
                      alert("מתקן לא קיים/אינך רשאי לצפות במתקן זה");
                      $("#btnExec").click();
                      $("#btnExec").attr('disabled', 'disabled');

                  }
                  else $("#btnExec").removeAttr('disabled');

              },
              dataSource: {
                  type: "json",
                  serverFiltering: true,
                  serverPaging: true,
                  pageSize: 20,
                  transport: {
                      read:
                          {
                              url: "Budget/GetMitkanStartsWith?taarich=@Model.Month"
                          }, //read
                      parameterMap: function () {// send value of autocomplete as the "startsWith" parameter
                          return {

                              startsWith: $("#MitkanName").data("kendoAutoComplete").value()
                          };
                      }
                  } //transport
              } //datasource
          }); //kendoAutoComplete
      }); //DocumentReady

  </script>
<div>
    @*<h4>MitkanBudget</h4>*@

      
   
    @using (Html.BeginForm())
    { 
      
        <div class="bgGray" style="height: 64px;">
            <div class="row">
                <div class="col-md-8" style="padding-top: 18px">
                    <label class="TextBold" style="margin-right: 20px;">תאריך:</label>
                    @Html.DropDownListFor(m => m.SelectedMonth, Model.Months, new { @onchange = "EnableButton();ChangeCurrentMonth(this.options[this.selectedIndex].value);", @class = "ddl", style="*width: 140px;height: 29px;" })
                    <input type="button" id="btnPrevMonth" value="חודש קודם" class="WhiteButton BgPrev GeneralText" onclick="SetMonth(-1);"/>
                    <input type="button" id="btnNextMonth" value="חודש הבא" class="WhiteButton BgNext GeneralText" disabled onclick="SetMonth(1);" />
                    <input type="submit" id="btnShow" value="הצג" onclick="showProgress();" name='action:Index' style="margin-right: 31px" class="PurpleButton DoubleArrow" />
                </div>

                <div class="col-md-4">
                    <div align="left" style="padding-left:20px">
                        <label class="GeneralText" style="padding-top:22px">תאריך אחרון לעדכון בנק: @Model.LastDateIdkunBankStr</label>
                      
                       @if (@Model.NumDays != "")
                       {
                            <label style="padding-top:22px"> <img src="~/Content/Images/mafrid.png" /></label>                       
                            <label class="PurpleTextLink" style="padding-top:22px" >@Model.NumDays</label>
                            <img id="imgRed" class="imgRed" src="~/Content/Images/warning.png" /> //onclick="ShowMassegeDays(this)"  
                        }
                    </div>
                </div>
            </div>
            @*    <hr style="width: 1898px;padding-right:11px;"/>*@
        </div>
       
        <div class="line"></div>
       
         if (Model.IsMitkanBudgetDetailEmpty == false)
         {  
            <div class="bgGray" style="height: 64px;">
                <div class="row" style="padding-top: 18px;">
                    <div class="col-md-5">
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px">  @Html.DisplayNameFor(model => model.MitkanBudgetDetail.BudgetVal):</label>
                        <input type="text"  disabled  class="TextBoxRO GeneralText alertImg" value="@Model.MitkanBudgetDetail.BudgetVal" style="width: 111px;padding-right:7px"/>       
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px"> @Html.DisplayNameFor(model => model.MitkanBudgetDetail.Budget_Used):</label>
                        <input type="text"  disabled class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.Budget_Used" style="width: 111px;padding-right:7px"/>           
                    </div>
                    <div class="col-md-7">
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px"> @Html.DisplayNameFor(model => model.MitkanBudgetDetail.ShaotByMeafyen14):</label>
                        <input type="text"  disabled class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.ShaotByMeafyen14" style="width: 111px;padding-right:7px"/>       
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px"> @Html.DisplayNameFor(model => model.MitkanBudgetDetail.YitratTakzivToDivide):</label>
                        <input type="text"  disabled class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.YitratTakzivToDivide" style="width: 111px;padding-right:7px"/>           
                    </div>

                </div>
            </div>
        }
        
        <div class="line"></div>
        
     
        
        
    }

</div>


<div id="dialog" title="Basic dialog" style="overflow: hidden;">
</div>

<script type="text/javascript">

    $(document).ready(function (e) {

        $('#imgRed').click(function (e) { 
            AlertMessagePosition(e.pageX,e.pageY,"שים לב","אם תאריך אחרון לעדכון הוא יום עבודה (אינו שבת, חג וכו')",170,300);
        });
        EnableButton();


    });

  
    function ChangeCurrentMonth(month) {
     //   var model = @Html.Raw(Json.Encode(Model));
      //  model.SelectedMonth =month;
            
        jQuery.ajax({
            url: '/Budget/ChangeMonth?month='+ month,
             type: 'POST',
             contentType: 'application/json'/*,
             //data: JSON.stringify({ model: model }),
             success: function (result) {
                 if(result.message == "Session Time out"){
                     window.location.href = "/Home/Session_End";
                 } 
             }*/
        });  

    }

    function EnableButton() {
        var model = @Html.Raw(Json.Encode(Model));
        var month =model.SelectedMonth;
        var selectMonth = $('#SelectedMonth');
        var selmont=selectMonth.val();

        $("#btnNextMonth").removeAttr('disabled');
        $("#btnPrevMonth").removeAttr('disabled');
        if(selmont==model.Months[0].Value){
            $("#btnNextMonth").attr('disabled', 'disabled');
            //   $( "#btnNextMonth" ).addClass( "disabled" );
        }
        if(selmont==model.Months[model.Months.length-1].Value){
            $("#btnPrevMonth").attr('disabled', 'disabled');
        }

    }

  

    function SetMonth(val) { 
        var model = @Html.Raw(Json.Encode(Model));
        var month =model.SelectedMonth;

        var selectMonth = $('#SelectedMonth');
        var dateSplit=selectMonth.val().split("/");
        var date= new Date(dateSplit[2],dateSplit[1]-1,dateSplit[0],'00','00','00');
        date.setMonth(date.getMonth() + val);
        var month= date.getMonth()+1;
        var year= date.getFullYear();
       // var monthS=selectMonth.val().split("/");
      //  var month=(+monthS[1])+val;
        if(month<10)
            month ="0"+ month;

        selectMonth.val("01/"+month+"/"+year)
        EnableButton();
        ChangeCurrentMonth("01/"+month+"/"+year);
       // "01/04/2015");
       
    }

    //var url = "/Budget/DispalyChanges?KodYechida=" + kod + "&chodesh=" + month;

    //$(function () {
    //    $("#dialog").dialog(
    //        {
    //            autoOpen: false,
    //            width: 400,
    //            height: 450,
    //            modal: true,
    //            buttons: {
    //                "Close": function () {
    //                    $(this).dialog("close");
    //                }
    //            }
    //        });
    //    $.get(url, function (data) {
    //        $("#dialog").html(data);
    //    });
    //    $('#dialog').dialog('open');
    //});


    function ShowPopUp(kod, name, month) {
        var titel = " פירוט שעות הוספה/הפחתה למתקן ";
        titel = titel + name + " לחודש " + " \n ";
        titel = titel + month;
        $("#dialog").html("")
            .dialog("option", "title", titel)
            .load('/Budget/DispalyChanges?KodYechida=' + kod + "&chodesh=" + month, function () { $("#dialog").dialog("open"); });

    }

    $(function () {
        $("#dialog").dialog(
            {
                autoOpen: false, width: 'auto',
                height: 'auto',
                modal: true,
                buttons: {
                    "סגור": function () {
                        $(this).dialog("close");
                    }
                }
            });
    });
</script>
