@model BsmWebApp.ViewModels.Budgets.BudgetMainViewModel

  <script>
      var valid;
      $(document).ready(function () {
          $("#MitkanName").kendoAutoComplete({
              // placeholder: "Enter site ...",
              // dataTextField: "SiteName",
              dataTextField: "TeurYechida",
              dataValueField: "KodYechida",
              filter: "startswith",
              minLength: 1,
              change: function (e) {
                  var autocomplete = $("#MitkanName").data("kendoAutoComplete");
                  var dataItem = autocomplete.dataSource.data();
                  var selectedVal = autocomplete.value();
                  var isExist = false;
                  $.each(dataItem, function (key, value) {
                      if (selectedVal === value.TeurYechida) {
                          isExist = true;
                      }
                  });
                  if (isExist == false) {
                      alert("מתקן לא קיים/אינך רשאי לצפות במתקן זה");
                      $("#btnExec").click();
                      $("#btnExec").attr('disabled', 'disabled');

                  }
                  else $("#btnExec").removeAttr('disabled');

              },
              dataSource: {
                  type: "json",
                  serverFiltering: true,
                  serverPaging: true,
                  pageSize: 20,
                  transport: {
                      read:
                          {
                              url: "Budget/GetMitkanStartsWith?taarich=@Model.Month"
                          }, //read
                      parameterMap: function () {// send value of autocomplete as the "startsWith" parameter
                          return {

                              startsWith: $("#MitkanName").data("kendoAutoComplete").value()
                          };
                      }
                  } //transport
              } //datasource
          }); //kendoAutoComplete
      }); //DocumentReady

  </script>
<div>
    @*<h4>MitkanBudget</h4>*@

    @using (Html.BeginForm())
    { 
      
        <div class="bgGray" style="height: 64px;">
            <div class="row">
                <div class="col-md-8" style="padding-top: 18px">
                    <label class="TextBold" style="margin-right: 20px;">תאריך:</label>
                    @Html.DropDownListFor(m => m.SelectedMonth, Model.Months, new { @onchange = "EnableButton();", @class = "ddl" })
                    <input type="button" id="btnPrevMonth" value="חודש קודם" class="WhiteButton BgPrev GeneralText" />
                    <input type="button" id="btnNextMonth" value="חודש הבא" class="WhiteButton BgNext GeneralText" />
                    <input type="submit" id="btnShow" value="הצג" name='action:Index' style="margin-right: 31px" class="PurpleButton DoubleArrow" />
                </div>

                <div class="col-md-4">
                    <div align="left" style="padding-left:20px">
                        <label class="GeneralText" style="padding-top: 22px;">סגירת משכורת: יום חמישי 30/10/2015  </label>
                        <label>עוד 3 ימים</label>
                        <img class="imgRed"  src="~/Content/Images/warning.png" />
                    </div>
                </div>
            </div>
            @*    <hr style="width: 1898px;padding-right:11px;"/>*@
        </div>
       
        <div class="line"></div>
       
         if (Model.IsMitkanBudgetDetailEmpty == false)
         {  
            <div class="bgGray" style="height: 64px;">
                <div class="row" style="padding-top: 18px;">
                    <div class="col-md-5">
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px">תקציב חודשי:</label>
                        <input type="text" readonly  class="TextBoxRO GeneralText alertImg" value="@Model.MitkanBudgetDetail.BudgetVal" style="width: 111px;padding-right:7px"/>       
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px">שעות שבוצעו:</label>
                        <input type="text" readonly  class="TextBoxRO GeneralText alertImg" value="@Model.MitkanBudgetDetail.BudgetVal" style="width: 111px;padding-right:7px"/>           
                    </div>
                    <div class="col-md-7">
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px">שעות שהוקצו:</label>
                        <input type="text" readonly  class="TextBoxRO GeneralText alertImg" value="@Model.MitkanBudgetDetail.BudgetVal" style="width: 111px;padding-right:7px"/>       
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px">שעות שנותרו להקצאה:</label>
                        <input type="text" readonly  class="TextBoxRO GeneralText alertImg" value="@Model.MitkanBudgetDetail.BudgetVal" style="width: 111px;padding-right:7px"/>           
                    </div>

                </div>
            </div>
        }
        
        <div class="line"></div>
        
     
        
        
    }

</div>


<div id="dialog" title="Basic dialog" style="overflow: hidden;">
</div>

<script type="text/javascript">

    function EnableButton() {
        if ($('#MitkanName').val() != "")
            $("#btnExec").removeAttr('disabled');
        else
            $("#btnExec").attr('disabled', 'disabled');
        ;
    }

    function ShowPopUp(kod, name, month) {
        var titel = " פירוט שעות הוספה/הפחתה למתקן ";
        titel = titel + name + " לחודש " + " \n ";
        titel = titel + month;
        $("#dialog").html("")
            .dialog("option", "title", titel)
            .load('/Budget/DispalyChanges?KodYechida=' + kod + "&chodesh=" + month, function () { $("#dialog").dialog("open"); });

    }

    $(function () {
        $("#dialog").dialog(
            {
                autoOpen: false, width: 'auto',
                height: 'auto',
                modal: true,
                buttons: {
                    "סגור": function () {
                        $(this).dialog("close");
                    }
                }
            });
    });


    //var url = "/Budget/DispalyChanges?KodYechida=" + kod + "&chodesh=" + month;

    //$(function () {
    //    $("#dialog").dialog(
    //        {
    //            autoOpen: false,
    //            width: 400,
    //            height: 450,
    //            modal: true,
    //            buttons: {
    //                "Close": function () {
    //                    $(this).dialog("close");
    //                }
    //            }
    //        });
    //    $.get(url, function (data) {
    //        $("#dialog").html(data);
    //    });
    //    $('#dialog').dialog('open');
    //});


</script>
