@model BsmWebApp.ViewModels.Budgets.BudgetMainViewModel

  <script>
      var valid;
      $(document).ready(function () {
          $("#MitkanName").kendoAutoComplete({
              // placeholder: "Enter site ...",
              // dataTextField: "SiteName",
              dataTextField: "TeurYechida",
              dataValueField: "KodYechida",
              filter: "startswith",
              minLength: 1,
              change: function (e) {
                  var autocomplete = $("#MitkanName").data("kendoAutoComplete");
                  var dataItem = autocomplete.dataSource.data();
                  var selectedVal = autocomplete.value();
                  var isExist = false;
                  $.each(dataItem, function (key, value) {
                      if (selectedVal === value.TeurYechida) {
                          isExist = true;
                      }
                  });
                  if (isExist == false) {
                      alert("מתקן לא קיים/אינך רשאי לצפות במתקן זה");
                      $("#btnExec").click();
                      $("#btnExec").attr('disabled', 'disabled');

                  }
                  else $("#btnExec").removeAttr('disabled');

              },
              dataSource: {
                  type: "json",
                  serverFiltering: true,
                  serverPaging: true,
                  pageSize: 20,
                  transport: {
                      read:
                          {
                              url: "Budget/GetMitkanStartsWith?taarich=@Model.Month"
                          }, //read
                      parameterMap: function () {// send value of autocomplete as the "startsWith" parameter
                          return {

                              startsWith: $("#MitkanName").data("kendoAutoComplete").value()
                          };
                      }
                  } //transport
              } //datasource
          }); //kendoAutoComplete
      }); //DocumentReady

  </script>
<div>
    @*<h4>MitkanBudget</h4>*@

      
   
    @using (Html.BeginForm())
    { 
        <div class="line"></div>
       
         if (Model.IsMitkanBudgetDetailEmpty == false)
         {  
            <div class="bgGray" style="height: 64px;">
                <div class="row" style="padding-top: 18px;">
                    <div class="col-md-5">
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px">  @Html.DisplayNameFor(model => model.MitkanBudgetDetail.BudgetVal):</label>
                      @*  <label  class="TextBoxRO GeneralText"> @Html.DisplayFor(model => model.MitkanBudgetDetail.BudgetVal)
                            <input class="alertImg" onclick="btnclick();"  type="button" />
                        </label>
                         *@
                        <input type="text"  disabled  class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.BudgetVal" style="width: 76px;padding-right:7px;border:none;  margin-left: -5px;"/> 
                       <input class="alertImg pointer" onclick="ShowBudgetInformation();"  type="text" /> 
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px"> @Html.DisplayNameFor(model => model.MitkanBudgetDetail.Budget_Used):</label>
                        <input type="text"  disabled class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.Budget_Used" style="width: 111px;padding-right:7px"/>           
                    </div>
                    <div class="col-md-7">
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px"> @Html.DisplayNameFor(model => model.MitkanBudgetDetail.ShaotByMeafyen14):</label>
                        <input type="text"  disabled class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.ShaotByMeafyen14" style="width: 111px;padding-right:7px"/>       
                        <label class="TextBold" style="margin-right:20px;margin-bottom:0px"> @Html.DisplayNameFor(model => model.MitkanBudgetDetail.YitratTakzivToDivide):</label>
                        <input type="text"  disabled class="TextBoxRO GeneralText" value="@Model.MitkanBudgetDetail.YitratTakzivToDivide" style="width: 111px;padding-right:7px"/>           
                    </div>

                </div>
            </div>
        }
        
        <div class="line"></div>

        
    }

</div>

<div id="dialog-info"></div>
<div id="dialog" title="Basic dialog" style="overflow: hidden;">
</div>

<script type="text/javascript">


    //var url = "/Budget/DispalyChanges?KodYechida=" + kod + "&chodesh=" + month;

    //$(function () {
    //    $("#dialog").dialog(
    //        {
    //            autoOpen: false,
    //            width: 400,
    //            height: 450,
    //            modal: true,
    //            buttons: {
    //                "Close": function () {
    //                    $(this).dialog("close");
    //                }
    //            }
    //        });
    //    $.get(url, function (data) {
    //        $("#dialog").html(data);
    //    });
    //    $('#dialog').dialog('open');
    //});
    $(function () {
        $("#dialog-info").dialog({
            autoOpen: false, width: 600, height: 305, modal: true,
            buttons: {
                "סגור": function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    function ShowBudgetInformation() {
        var url = "Budget/GetInformationBudget";
        $("#dialog-info").html("")
        .dialog("option", "title", "מידע נוסף")
        .load(url, function () {
            $("#dialog-info").dialog("open");
        });
      
    }

    function ShowPopUp(kod, name, month) {
        var titel = " פירוט שעות הוספה/הפחתה למתקן ";
        titel = titel + name + " לחודש " + " \n ";
        titel = titel + month;
        $("#dialog").html("")
            .dialog("option", "title", titel)
            .load('/Budget/DispalyChanges?KodYechida=' + kod + "&chodesh=" + month, function () { $("#dialog").dialog("open"); });

    }

    $(function () {
        $("#dialog").dialog(
            {
                autoOpen: false, width: 'auto',
                height: 'auto',
                modal: true,
                buttons: {
                    "סגור": function () {
                        $(this).dialog("close");
                    }
                }
            });
    });
</script>
