@model BsmWebApp.ViewModels.Budgets.BudgetMainViewModel

  <script>
      $(document).ready(function () {
          $("#MitkanName").kendoAutoComplete({
              // placeholder: "Enter site ...",
              // dataTextField: "SiteName",
              dataTextField: "TeurYechida",
              dataValueField: "KodYechida",
              filter: "startswith",
              minLength: 1,
              dataSource: {
                  type: "json",
                  serverFiltering: true,
                  serverPaging: true,
                  pageSize: 20,
                  transport: {
                      read:
                          {
                              url: "Budget/GetMitkanStartsWith"
                          }, //read
                      parameterMap: function () {// send value of autocomplete as the "startsWith" parameter
                          return {
                             
                          startsWith: $("#MitkanName").data("kendoAutoComplete").value()
                          };
                      }
                  } //transport
              } //datasource
          }); //kendoAutoComplete
      }); //DocumentReady
     
        </script>
<div>
    @*<h4>MitkanBudget</h4>*@
    
    <hr class="styled" />

    @using (Html.BeginForm())
    { 
    <div class="row">
        <div class="col-md-1 col-md-push-11" > שם מתקן:</div>  
        <div class="col-md-2 col-md-push-8">    
              @Html.TextBoxFor(m => m.MitkanName, new { @onchange = "EnableButton();" })
        </div>  


        <div class="col-md-1 col-md-push-5"></div>
        <div class="col-md-1 col-md-push-3" >חודש:</div>
        <div class="col-md-2 ">
            @*@Html.Kendo().DatePickerFor(m => m.Month).Format("{0:MM/yyyy}").ParseFormats(new List<string>() { "MM/yyyy" })*@
            @Html.DropDownListFor(m => m.SelectedMonth, Model.Months, new { @onchange = "EnableButton();" })
        </div>
        <div class="col-md-1 col-md-pull-3">
            @if (Model.IsMitkanBudgetDetailEmpty == false)
            {
                 <input type="submit" id="btnExec" value="הצג"  name='action:Index'    />
            }
            else {
                <input type="submit" id="btnExec" value="הצג"  name='action:Index'   disabled   />
            }
        </div>
       
    </div>

   <hr class="styled" />

   
            if (Model.IsMitkanBudgetDetailEmpty == false)
            {  
    <div  class="col-md-8 col-md-push-3">  <span>שעות נוספות</span></div>
     <div  class="col-md-4 col-md-pull-7">  <span>שעות נוספות - יתרה</span></div>
    <div class="row">
        <div  class="col-md-8 col-md-push-3">
            <table class="styled">
                <tr>
                    <th class="styled" style="width:100px;" >
                        @Html.DisplayNameFor(model => model.MitkanBudgetDetail.BudgetVal)
                    </th>
                    <th class="styled" style="width:150px;" >
                        @Html.DisplayNameFor(model => model.MitkanBudgetDetail.RemainHoursLastMonth)
                    </th>
                    <th class="styled" style="width:100px;" >
                        @Html.DisplayNameFor(model => model.MitkanBudgetDetail.AddSubtractHours)
                    </th>
                    <th class="styled" style="width:100px;" >
                        @Html.DisplayNameFor(model => model.MitkanBudgetDetail.SachTakzivShaotNosafot)
                    </th>
                </tr>
                <tr>
                    <td class="styled" style="width:100px;" >
                        @Html.DisplayFor(model => model.MitkanBudgetDetail.BudgetVal)
                    </td>
                    <td class="styled" style="width:100px;" >
                        @Html.DisplayFor(model => model.MitkanBudgetDetail.RemainHoursLastMonth)
                    </td>
                     <td class="styled">

<a href="#" onclick="ShowPopUp('@Html.DisplayFor(model => model.KodMitkan)','@Html.DisplayFor(model => model.MitkanName)','@Html.ValueFor(model => model.Month, "{0:dd/MM/yyyy}")');"> @Html.DisplayFor(model => model.MitkanBudgetDetail.AddSubtractHours)</a>

                
                       @* @Html.DisplayFor(model => model.MitkanBudgetDetail.AddSubtractHours)*@
                    </td>
                    <td class="styled">
                        @Html.DisplayFor(model => model.MitkanBudgetDetail.SachTakzivShaotNosafot)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 col-md-pull-7">
            <table class="styled">
                    <tr>
                        <th class="styled" style="width:100px;" > 
                            @Html.DisplayNameFor(model => model.MitkanBudgetDetail.YitratTakzivToDivide)
                        </th>
                        <th class="styled" style="width:100px;" >
                            @Html.DisplayNameFor(model => model.MitkanBudgetDetail.HoursNotUsed)
                        </th>
                    </tr>
                    <tr>
                        <td class="styled">
                            @Html.DisplayFor(model => model.MitkanBudgetDetail.YitratTakzivToDivide)
                        </td>
                        <td class="styled">
                            @Html.DisplayFor(model => model.MitkanBudgetDetail.HoursNotUsed)
                        </td>  
                    </tr>
                </table>
            </div>
    </div>

                }
    }

</div>
    

 <div id="dialog" title="Basic dialog" style="overflow: hidden;">

 </div>

<script type="text/javascript" >

    function EnableButton() {
        if ($('#MitkanName').val() != "")
            $("#btnExec").removeAttr('disabled');
        else 
            $("#btnExec").attr('disabled','disabled');
        ;
    }

    function ShowPopUp(kod, name, month) {
        var titel = " פירוט שעות הוספה/הפחתה למתקן ";
        titel = titel + name + " לחודש " + " \n ";
        titel = titel + month;
            $("#dialog").html("")
                .dialog("option", "title", titel )
                .load('/Budget/DispalyChanges?KodYechida=' + kod + "&chodesh=" + month, function () { $("#dialog").dialog("open"); });

    }

    $(function ()
    {
        $("#dialog").dialog(
            {
                autoOpen: false, width: 'auto',
                height: 'auto',
                modal: true,
                buttons: {
                    "סגור": function () {
                        $(this).dialog("close");
                    }
                }
            });
    });

    
        //var url = "/Budget/DispalyChanges?KodYechida=" + kod + "&chodesh=" + month;
     
        //$(function () {
        //    $("#dialog").dialog(
        //        {
        //            autoOpen: false,
        //            width: 400,
        //            height: 450,
        //            modal: true,
        //            buttons: {
        //                "Close": function () {
        //                    $(this).dialog("close");
        //                }
        //            }
        //        });
        //    $.get(url, function (data) {
        //        $("#dialog").html(data);
        //    });
        //    $('#dialog').dialog('open');
        //});


</script>
