@model BsmWebApp.ViewModels.Changes.AddBudgetViewModel


<div>
    <div class="row">
        <div class="col-md-2">
            <label class="TextBold"> מתקן מקבל:</label>
       </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => Model.Yechida.KodYechida, Model.Yechidot, new {@id= "KodMitkan", @onchange = "EnableFields();", @class = "ddl", style = "width: 200px;height: 29px;" })
        </div>
        <div class="col-md-1">
            <label class="TextBold"> תקציב:</label>
       </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => Model.budget.MisparTakziv, Model.Budgets, new { @id = "KodTakziv",@onchange = "EnableFields();CheckAmount();", @class = "ddl", style = "width: 250px;height: 29px;" })
        </div>
        <div class="col-md-2">
            <a id="addNew" class="PurpleTextBoldLink pointer" onclick="AddNewTakziv()" href="#">+צור תקציב חדש</a>
            <br />  <br />
           
             <a id="THistory" class="PurpleTextBoldLink pointer" onclick="OpenHistoryPopUp()" href="#"> הסטוריית תקציב</a>
        </div>
     </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-2">
            <label class="TextBold"> כמות:</label>
        </div>
        <div class="col-md-3">
            <input id="inputKamut"   disabled="disabled"  onfocus="this.select();"    class="styleTBSearch GeneralText TextBoxRO AmountInput" />
        </div>
        <div class="col-md-1">
            <label class="TextBold"> הנמקה:</label>
        </div>
        <div class="col-md-6">
            <textarea id="inputReson" disabled="disabled"  placeholder="רשום הנמקה להוספת תקציב..." style="width:350px;height:120px" maxlength="200" spellcheck="false" autofocus></textarea>
        </div>

    </div>
    <br />
    <br />
    
</div>
<div style="float:left">
    <button id="btnAuto" value="עדכן תקציב" style="width:100px" class="PurpleButton" onclick="AddBudgetAjax()">עדכן תקציב</button>
</div>



<script>
    $(document).ready(function () {
        $("#inputKamut").mask('09999.9',{  placeholder: ""});

        $('#KodTakziv option').each(function (i, item) {
            if (item.text.indexOf(')') > -1) {

                var split = item.text.split(')')[0].split(' ');
                var num = split[split.length - 1];
                if (+num == 0)
                    item.disabled = true;
            }
            else {
                if (item.value != 0)
                    item.disabled = true;
            }
        });

        var model = @Html.Raw(Json.Encode(Model));
        $("#inputReson").val(model.Comment);
        $("#inputKamut").val(model.Kamut);
        if(model.AddNewSucceeded ==1)
        {
            if($("#inputKamut").val() != "")
                $("#inputKamut").prop('disabled', false);
            if($("#inputReson").val() != "")
                $("#inputReson").prop('disabled',false);

            setTimeout(function(){
                AlertMessage("התקציב נוצר בהצלחה", 170, 300)
            },100);
            //AlertMessage("תקציב נוצר בהצלחה", 170, 300)
        }
    });

    function EnableFields() {
       // debugger;
       // var model = @Html.Raw(Json.Encode(Model));
        var selectMitkan = $('#KodMitkan')[0].selectedIndex;
        var selectTakziv = $('#KodTakziv')[0].selectedIndex;
       
        if (selectMitkan != 0 && selectTakziv != 0)
        {
            $("#inputKamut").prop('disabled', false);
            $("#inputReson").prop('disabled',false);
        }
        else {
            $("#inputKamut").prop('disabled', true);
            $("#inputReson").prop('disabled', true);
        }
        
    }

    function CheckAmount() {
        var kamut = $("#inputKamut").val();
        if (kamut != "") {
         //   var selectTakziv = $('#KodTakziv')[0].selectedIndex;
            var takziv = $("#KodTakziv option:selected").text();
            var split = takziv.split(')')[0].split(' ');
            var num = split[split.length - 1];

            if (+kamut > +num) {
                //  $("#btnAuto").prop('disabled', true);
                AlertMessage("לא ניתן לעדכן מעבר ליתרה", 150, 300);
                return false;
            }
            else
                return true;
                //$("#btnAuto").prop('disabled', false);
        }

     
    }

    function AddBudgetAjax() {

        if (InsertAllFields()) {
            if(CheckAmount())
            {
                var selectMitkan = $('#KodMitkan')[0].value;
                var selectTakziv = $('#KodTakziv')[0].value;
                var inputReson = $("#inputReson").val();
                var kamutVal = $("#inputKamut").val();

                var data = { Mitkan: selectMitkan, Takziv: selectTakziv, Kamut: kamutVal, Comment: inputReson };
                $.post("/Changes/SaveBudget", data, function (res) {
                    AlertMessage("התקציב נוסף בהצלחה", 150, 300);
                    RefreshGridChanges();
                    $("#dialog-change").dialog("close");
                });
            }
        }
        else {
            AlertMessage("חובה לעדכן את כל השדות", 150, 300);
            return false;
        }
    }

    function InsertAllFields() {
        var selectMitkan = $('#KodMitkan')[0].selectedIndex;
        var selectTakziv = $('#KodTakziv')[0].selectedIndex;
        var inputReson = $("#inputReson").val();
        var kamut = $("#inputKamut").val();
        if (selectMitkan == 0 || selectTakziv==0 || inputReson == "" || kamut == "" || +kamut == 0) { 
            return false;
        }
        else {
            return true;
           // AddBudgetNew(@Html.Raw(Json.Encode(Model)) );
        }


    }


    function AddNewTakziv() {

        var selectMitkan = $('#KodMitkan')[0].value;
        var selectTakziv = $('#KodTakziv')[0].value;
        var inputReson = $("#inputReson").val();
        var kamutVal = $("#inputKamut").val();

        var data = { Mitkan: selectMitkan, Takziv: selectTakziv, Kamut: kamutVal, Comment: inputReson };
        DisplayAddNewTakziv(data);
    }

    function OpenHistoryPopUp()
    {
       // debugger;
        var selectTakziv = $('#KodTakziv')[0].value;
        if(selectTakziv ==0)
            return false;
        var takziv = $("#KodTakziv option:selected").text();
        var split = takziv.split(')')[0].split('(');
      //  var num=split[1].split(' ');
       // num = num[num.length - 1];
       var name =split[0];

        ShowTakzivHistory(selectTakziv,name);
    }
    function ShowInfo() {
        $('#Dialog-History').dialog('open');
    }
    $('#Dialog-Info').dialog({
        autoOpen: false,
        title: "שעות נוספות תקציב",
        width: 300,
        modal: false,
        buttons: {
            "סגור": function () {
                $(this).dialog("close");
            }
        }
    });
</script>